@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="container p-4">
    
    <h3>Rules</h3>
    <ul>
        <li>Create your own team by selecting <strong>3 drivers and 2 constructors</strong> of your choice.</li>
        <li>Each of the drivers and constructors has its own price that depends on the current standings.</li>
        <li>You have maximum amount of <strong>$60 million</strong> to spend on your team.</li>
        <li>After each race, the points earned by your drivers and constructors will contribute to your team's points. </li>
        <li>The team with the <strong>most points in the end of the season wins</strong>. </li>
    </ul>
    <br />
    <p><strong>F1 Fantasy. Made by Azamat Salamat. 2022</strong></p>
</div>

